<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<http auto-config="true" access-denied-page="/acessonegado">
		<intercept-url pattern="/home**" access="ROLE_ADMIN,ROLE_GARCOM" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN"  />
		<form-login login-page="/login" default-target-url="/home" authentication-failure-url="/loginfailed"  />
		<logout logout-success-url="/logout" />	
		
	</http>
 
<!-- 
	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="admin" password="admin" authorities="ROLE_ADMIN" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
 -->
 
	<authentication-manager>
	   <authentication-provider>
		<jdbc-user-service data-source-ref="mysqlDataSource"
	
		   users-by-username-query="
		      select login,password,active 
		      from user where login=?" 
	
		   authorities-by-username-query="
		      select u.login, r.role from user u, role r 
		      where u.role_id = r.id and u.login =?" 
	
		/>
	   </authentication-provider>
	</authentication-manager>


</beans:beans>